body {
    background-image: url("Pictures/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #151613;
    font-size: 100px;
    /* /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Splash', cursive;
    /* background-color: #4e582a; */
    /* opacity: 50%; */
}

h1:hover {
    transition: background-color 3s, border-radius 2s, opacity 1s, box-shadow 1s;
    opacity: 50%;
    /* background-color: #775713; */
    color: blanchedalmond;
}

.horse {
    position: absolute;
    left: 60em;
    top: 20em;
}

.JE {
    margin-top: 10%;
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
    font-family: 'Dancing Script', cursive;
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.795);
    font-size: 150%;
}

.journalEntry {
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
    font-family: 'Dancing Script', cursive;
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.795);
    font-size: 150%;
}

.journalentry:hover {
    transition: opacity 1s;
    opacity: 50%;
    color: blanchedalmond;
    border-bottom-color: white;
}


.navbar a {
    padding: 0.25rem 0;
    font-weight: 700;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.795);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
}

.nav-link:hover {
    transition: opacity 1s;
    opacity: 50%;
    color: blanchedalmond;
    border-bottom-color: white;
}

.dropdown-menu {
    background: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 10%;
    border: none;
    font-size: 60%;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover {
    transition: opacity 1s;
    opacity: 50%;
    color: blanchedalmond;
    background: none;
    /* border-bottom-color: white; */
}


section {
    padding: 5%;
}

.blurb {
    text-align: end;
    margin: 5%;
    font-weight: 50;
    font-size: 1.125rem;
    line-height: 2;
    color: black;
    font-family: 'Libre Baskerville', serif;
    /* font-style: linear-gradient(to right, #535353, black); */
}

/* .blurb:hover {
    transition: font-weight 0.5s, font-size 0.5s;
    font-weight: 90;
    font-size: 110%;
} */

footer {
    position: fixed;
    font-size: x-large;
    font-weight: 500;
    bottom: 0.1rem;
    font-family: 'Splash', cursive;
    color: black;
}


.card {
    background-color: #dda15e;
    color: #000000;
    box-shadow: 0 0 20px 5px #dda15e;
    max-width: 300px;
    max-height: 200px;
    /* max-width: 300px;
    max-height: 300px;
 display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding-bottom: 10%;  */

}

/* .card-body {
    background-color: #946f44;
    padding: 5%;
    box-shadow: 0 0 20px 5px #dda15e;
}

.card-text {
    background-color: #946f44;
    color: #000000;
} */

.samplePhoto {
    max-width: 300px;
    max-height: 325px;
    padding: 4%;
    border-radius: 4%;
    box-shadow: 0 0 20px 5px #c08d52;
}

.samplePhoto:hover {
    transition: border-radius 2s, opacity 1s, box-shadow 1s;
    max-width: 300px;
    max-height: 325px;
    border: 1px #bc6c25;
    padding: 4%;
    border-radius: 8%;
    box-shadow: 0 0 30px 5px #dda15e;
}

h2 {
    text-decoration: none;
    border-bottom: 0.25rem solid transparent;
    font-family: 'Dancing Script', cursive;
    margin-left: 5%;
    color: rgba(255, 255, 255, 0.795);
    font-size: 200%;
    margin-left: 30%;
    margin-top: 5%;
}

h4 {
    margin-top: 2%;
    margin-bottom: 15%;
    margin-left: 30%;
    font-weight: 50;
    font-size: 1.125rem;
    line-height: 2;
    color: black;
    font-family: 'Libre Baskerville', serif;
    /*  font-family: "Montserrat Medium"; */
    max-width: 40ch;
    /* text-align: center; */
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
    animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
    animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
    animation: fade-in 0.8s 3.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
    animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
    animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
    animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
    animation: fade-in 0.8s 4.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
    animation: fade-in 0.8s 4.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
    animation: fade-in 0.8s 4.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
    animation: fade-in 0.8s 5.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(19) {
    animation: fade-in 0.8s 5.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(20) {
    animation: fade-in 0.8s 5.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(21) {
    animation: fade-in 0.8s 6.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(22) {
    animation: fade-in 0.8s 6.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(23) {
    animation: fade-in 0.8s 6.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(24) {
    animation: fade-in 0.8s 6.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(25) {
    animation: fade-in 0.8s 7.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(26) {
    animation: fade-in 0.8s 7.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(27) {
    animation: fade-in 0.8s 7.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(28) {
    animation: fade-in 0.8s 8.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(29) {
    animation: fade-in 0.8s 8.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(30) {
    animation: fade-in 0.8s 8.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(31) {
    animation: fade-in 0.8s 9.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(32) {
    animation: fade-in 0.8s 9.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(33) {
    animation: fade-in 0.8s 9.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


span:nth-child(34) {
    animation: fade-in 0.8s 9.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(35) {
    animation: fade-in 0.8s 10.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(36) {
    animation: fade-in 0.8s 10.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(37) {
    animation: fade-in 0.8s 10.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(38) {
    animation: fade-in 0.8s 11.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


span:nth-child(39) {
    animation: fade-in 0.8s 11.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(40) {
    animation: fade-in 0.8s 11.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(41) {
    animation: fade-in 0.8s 12.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(42) {
    animation: fade-in 0.8s 12.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(43) {
    animation: fade-in 0.8s 12.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(44) {
    animation: fade-in 0.8s 12.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(45) {
    animation: fade-in 0.8s 13.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(46) {
    animation: fade-in 0.8s 13.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(47) {
    animation: fade-in 0.8s 13.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(48) {
    animation: fade-in 0.8s 14.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(49) {
    animation: fade-in 0.8s 14.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(50) {
    animation: fade-in 0.8s 14.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(51) {
    animation: fade-in 0.8s 15.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(52) {
    animation: fade-in 0.8s 15.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(53) {
    animation: fade-in 0.8s 15.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(54) {
    animation: fade-in 0.8s 15.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(55) {
    animation: fade-in 0.8s 16.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(56) {
    animation: fade-in 0.8s 16.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(57) {
    animation: fade-in 0.8s 16.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(58) {
    animation: fade-in 0.8s 17.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(59) {
    animation: fade-in 0.8s 17.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(60) {
    animation: fade-in 0.8s 17.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


span:nth-child(61) {
    animation: fade-in 0.8s 18.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(62) {
    animation: fade-in 0.8s 18.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(63) {
    animation: fade-in 0.8s 18.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(64) {
    animation: fade-in 0.8s 19.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(65) {
    animation: fade-in 0.8s 19.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(66) {
    animation: fade-in 0.8s 19.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(67) {
    animation: fade-in 0.8s 19.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(68) {
    animation: fade-in 0.8s 20.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(69) {
    animation: fade-in 0.8s 20.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(70) {
    animation: fade-in 0.8s 20.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(71) {
    animation: fade-in 0.8s 30.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}




@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}