body {
    background-image: url("Pictures/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {
    text-align: center;
    color: #151613;
    font-size: 100px;
    /* /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Splash', cursive;
    /* background-color: #4e582a; */
    /* opacity: 50%; */
}

h1:hover {
    transition: background-color 3s, border-radius 2s, opacity 1s, box-shadow 1s;
    opacity: 50%;
    /* background-color: #775713; */
    color: blanchedalmond;
}

.horse {
    position: absolute;
    left: 60em;
    top: 20em;
}

/* .navbar {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
} */

/* .container-fluid {
    width: 40%;
} */


.navbar a {
    padding: 0.25rem 0;
    font-weight: 700;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    transition: opacity 1s;
    opacity: 50%;
    color: blanchedalmond;
    border-bottom-color: white;
}

.dropdown-menu {
    background: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 10%;
    border: none;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover {
    transition: opacity 1s;
    opacity: 50%;
    color: blanchedalmond;
    background: none;
    /* border-bottom-color: white; */
}


section {
    padding: 5%;
}

.blurb {
    text-align: end;
    margin: 5%;
    font-weight: 50;
    font-size: 1.125rem;
    line-height: 2;
    color: black;
    font-family: 'Libre Baskerville', serif;

    /* font-style: linear-gradient(to right, #535353, black); */
}



footer {
    position: fixed;
    font-size: x-large;
    font-weight: 500;
    bottom: 0.1rem;
    font-family: 'Splash', cursive;
    color: black;
}

.samplePacks {
    padding: 5%;
}

.MusicPhoto {
    max-width: 300px;
    max-height: 325px;
}

/* .blurb h2 {
    color: #f1f1f1;
    font-weight: 100;
    font-size: 2.5rem;
} */

/* .blurb p {
    color: #ffffff;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    font-family: 'Ma Shan Zheng', cursive;
} */

/* .content {
    margin-top: 100px;
    margin-bottom: 100px;
} */


.card {
    background-color: #dda15e;
    color: #000000;
    box-shadow: 0 0 20px 5px #dda15e;
    max-width: 300px;
    max-height: 200px;
    /* max-width: 300px;
    max-height: 300px;
 display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding-bottom: 10%;  */

}

.card-body {
    background-color: #946f44;
    padding: 5%;
    /* border-radius: 8%; */
    box-shadow: 0 0 20px 5px #dda15e;
}

.card-text {
    background-color: #946f44;
    color: #000000;
}

/* .container {
    /* background-color: #264653; */
/* display: flex;
flex-wrap: wrap;
justify-content: space-between; */

/* } */


/* .card-img-top {
    max-width: 600px;
    max-height: 300px;
} */

.samplePhoto {
    max-width: 300px;
    max-height: 325px;
    border: 1px #bc6c25;
    /* border-radius: 2%; */
    padding: 4%;
    border-radius: 8%;
    /* background-color: #e9c46a; */
    box-shadow: 0 0 20px 5px #dda15e;
}


.item2:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: 5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.samplePhoto3 {
    max-width: 300px;
    max-height: 325px;
    border: 1px #bc6c25;
    /* border-radius: 2%; */
    padding: 4%;
    border-radius: 8%;
    /* background-color: #e9c46a; */

}

.samplePhoto3:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0 0 20px 5px #dda15e;
}









@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }

    50% {
        transform: scale(1, .025);
    }
}

.item4 {
    max-width: 300px;
    max-height: 325px;
    border: 1px #bc6c25;
    /* padding: 4%; */
    border-radius: 8%;


}

@media (prefers-reduced-motion: no-preference) {
    .item4 {
        animation-name: wipe-enter;
        animation-duration: 1s;
        animation-iteration-count: 1s;
    }
}








@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
}

/* body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

h4 {
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 30%;
    font-weight: 50;
    font-size: 1.125rem;
    line-height: 2;
    color: black;
    font-family: 'Libre Baskerville', serif;
    /*  font-family: "Montserrat Medium"; */
    max-width: 40ch;
    /* text-align: center; */
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}