body {
    background-color: #606c38;
}



h1 {
    text-align: center;
    color: #283618;
    font-size: 100px;
    /* /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Splash', cursive;
    /* background-color: #4e582a; */
    opacity: 50%;
}

.horse {
    position: absolute;
    left: 35em;
    bottom: 1em;
    top: 1em;

}

.horse:hover {
    background-image: url("Pictures/download\ \(1\).png");
    /* border-radius: 30%; */
}

.blurb {
    position: relative;
    left: 50%;
    width: 50%;
    color: #000000;
    font-size: 20px;
    font-family: 'Ma Shan Zheng', cursive;
}



.nav-link {
    text-decoration: none;
    color: black;
    margin-left: 1em;
    font-family: 'Ma Shan Zheng', cursive;
    font-size: x-large;
}

.nav-link:hover {
    transition: background-color 3s, border-radius 2s, opacity 1s, box-shadow 1s;
    opacity: 50%;
    background-color: #775713;
    color: blanchedalmond;
}

footer {
    position: fixed;
    bottom: 2%;
    font-family: 'Ma Shan Zheng', cursive;
    color: #000000;
}

.samplePacks {
    /* margin-top: 6rem; */
    margin-bottom: 3%;
    /* padding: 5%; */
    /* box-shadow: 0 0 20px 5px #dda15e; */
}

.card {
    background-color: #dda15e;
    color: #bc6c25;
    box-shadow: 0 0 20px 5px #dda15e;
}

.card-body {
    background-color: #dda15e;
    padding: 5%;
    /* border-radius: 8%; */
    box-shadow: 0 0 20px 5px #dda15e;
}

.card-text {
    background-color: #dda15e;
    color: #000000;
}

.container {
    /* background-color: #264653; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.samplePhoto {
    max-width: 300px;
    max-height: 325px;
    border: 1px #bc6c25;
    /* border-radius: 2%; */
    padding: 4%;
    border-radius: 8%;
    /* background-color: #e9c46a; */
    box-shadow: 0 0 20px 5px #dda15e;

}